{% include 'headerGestion.html' %}
<br>
<b-card-header>
    <h2>Ingresar nuevo servicio</h2>
</b-card-header>

<form method="POST" action="/store" enctype="multipart/form-data">
    <br>
    <div class="form-group">
        <label for="txtSpa">Spa:</label>
        <input id="txtSpa" class="formcontrol" type="text" name="txtSpa">
    </div>
    <br>
    <div class="form-group">
        <label for="txtNombre">Servicio:</label>
        <input id="txtNombre" class="formcontrol" type="text" name="txtNombre">
    </div>
    <br>
    <div class="form-group">
        <label for="txtTiempo">Tiempo:</label>
        <input id="txtTiempo" class="formcontrol" type="text" name="txtTiempo">
    </div>
    <br>
    <div class="form-group">
        <label for="txtDuracion">Duración:</label>
        <input id="txtDuracion" class="formcontrol" type="text" name="txtDuracion">
    </div>

    <br>
    <div class="form-group">
        <label for="txtPrecio">Precio:</label>
        <input id="txtPrecio" class="formcontrol" type="text" name="txtPrecio">
    </div>
    <br>
    <div class="form-group">
        <label for="txtFoto">Foto:</label>
        <input id="txtFoto" class="formcontrol" type="file" name="txtFoto">
    </div>
    <br>
    <br>
    <div class="form-group">
        <input type="submit" class="btn btn-secondary btn-light btn-sm" value="Agregar" onclick="validarFormularioCrearServicio()">
        <a href="{{url_for('gestion')}}" class="btn btn-secondary btn-light btn-sm">Regresar</a>
    </div>
    <br>

    <br> {% include 'footer.html' %}